body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --purple: #9b1fe9;
}

/* ============== Responsive ============= */
.formBox {
  max-width: 445px;
}

.Wallet {
  width: 50%;
}

.faqContainer {
  max-width: 870px;
}

@media only screen and (max-width: 1000px) {
  .formBox {
    max-width: 80%;
  }
}

@media only screen and (max-width: 688px) {
  .formBox {
    width: 100%;
  }
  .Wallet {
    width: 100%;
  }
}

@media only screen and (max-width: 578px) {
  .container {
    max-width: 80%;
  }
  .connectWallet {
    display: none;
  }
  .modalImgBg {
    margin: 10px;
  }
}
